body{overflow-x: hidden;}

.mobDisplay{display:none !important;}
.mobileLoginRegister{display: none !important;}
.mobileCart{display: none !important;}
.dark #primary-menu:not(.not-dark) ul ul li > a, #primary-menu.dark ul ul li > a {
    color: #444 !important;
}
.dark #primary-menu:not(.not-dark) ul ul li:hover > a, #primary-menu.dark ul ul li:hover > a {
    background-color: rgba(0,0,0,0.1);
    color: #444 !important;
}
.shop .product form {
    margin-bottom: 0px !important;
}
.updateHomeBannerfs2 {
    position: absolute;
    left: 0%;
    top: 70%;
    z-index: 999;
    width: 100%;
    text-align: center;
}
.headsocial-icon {
    margin: 7px 5px 5px 0;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px !important;
    color: #555;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 3px;
    overflow: hidden;
}
.thmbtn {
    background: #8ab34f!important;
    color: #fff!important;
    padding: 10px 15px!important;
    margin-top: 30px!important;
}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a.thmbtn {
    margin-top: 10px!important;
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay2 {
    -webkit-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.product-item:hover .product-overlay2 {
    opacity: 1;
}
.product-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.product-overlay2 a.center-icon {
    display: block;
    margin: -20px 0 0 -20px;
}

.product-overlay2 a {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F5F5F5;
    width: 40px !important;
    height: 40px !important;
    margin: -28px 0 0 -44px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #444;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
}

.product-desc {
    padding: 15px 10px;
    font-size: 14px;
    background: transparent;
    border-top: 0;
}

.product-title {
    margin-bottom: 7px;
}

.product-title h3 {
    margin: 0;
    font-size: 20px;
}
.product-title h3 a, .single-product .product-title h2 a {
    color: #333;
}

.product-desc-transparent {
    background: transparent !important;
}

.product-title h3 {
    margin: 0;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.full-width-btn {
    width: 100%;
    margin:0 !important;
}

.button-grey {
    background: #777 !important;
    text-align: center;
}

.shop .product {
    float: left;
    padding: 0 0px 0px 0;
    width: 24%;
    border: 1px solid #ddd;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1%;
}
.widget.subscribe-widget {
    margin-top: 0px !important;
}

#footer .footer-widgets-wrap {
    padding: 50px 0 !important;
}
#copyrights {
    padding: 25px 0 !important;
    }
    .top-links li:hover {
    background-color: transparent;
}
#top-bar-cart {
    float: right !important;
    margin: 12px 0 40px 15px !important;
}
#top-bar-cart a {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

#top-bar-cart > a > span {
    display: block;
    position: absolute;
    top: -7px;
    left: auto;
    right: -14px;
    font-size: 10px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #1ABC9C;
    border-radius: 50%;
}

.sort-dropdown {
    max-width: 264px;
    margin-bottom: 20px;
}

/* Style-1 + Style-2 */

.checkbox-style,
.radio-style {
    opacity: 0;
    position: absolute;
}
.checkbox-style,
.radio-style,
.checkbox-style-1-label,
.radio-style-1-label,
.checkbox-style-2-label,
.radio-style-2-label,
.checkbox-style-3-label,
.radio-style-3-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.checkbox-style-1-label,
.radio-style-1-label,
.checkbox-style-2-label,
.radio-style-2-label,
.checkbox-style-3-label,
.radio-style-3-label {
    position: relative;
}
.checkbox-style-1-label:before,
.radio-style-1-label:before,
.checkbox-style-2-label:before,
.radio-style-2-label:before,
.checkbox-style-3-label:before,
.radio-style-3-label:before {
    content: '';
    background: #FFF;
    border: 2px solid #DDD;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-right: 10px;
    line-height: 1;
    text-align: center;
}
.radio-style-1-label:before,
.radio-style-2-label:before,
.radio-style-3-label:before {
    border-radius: 50%;
}
.checkbox-style:checked + .checkbox-style-1-label:before {
    background: #1ABC9C;
}
.radio-style:checked + .radio-style-1-label:before {
    background: #CCC;
}
/* Checkbox-small + Radio-small */

.checkbox-style-1-label.checkbox-small:before,
.radio-style-1-label.radio-small:before,
.checkbox-style-2-label.checkbox-small:before,
.radio-style-2-label.radio-small:before,
.checkbox-style-3-label.checkbox-small:before,
.radio-style-3-label.radio-small:before {
    border: 2px solid #DDD;
    width: 16px;
    height: 16px;
    margin: 0 8px 1px 0;
}
/* Style-2 */

.checkbox-style:checked + .checkbox-style-2-label:before {
    background: #1ABC9C;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio-style:checked + .radio-style-2-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
.checkbox-style:checked + .checkbox-style-2-label.checkbox-small:before {
    box-shadow: inset 0px 0px 0px 2px #fff;
}
.radio-style:checked + .radio-style-2-label.radio-small:before {
    box-shadow: inset 0px 0px 0px 2px #fff;
}
/* style-3 */

.checkbox-style:checked + .checkbox-style-3-label:before,
.radio-style:checked + .radio-style-3-label:before {
    content: "\e116";
    font-family: 'lined-icons';
    background: #1ABC9C;
    color: #FFF;
}
.radio-style:checked + .radio-style-3-label:before {
    color: #BBB;
    background-color: transparent;
}
/* style-3 - Small */

.checkbox-style + .checkbox-style-3-label.checkbox-small:before,
.radio-style + .radio-style-3-label.radio-small:before {
    border: 1px solid #BBB;
    width: 16px;
    height: 16px;
    margin: 0 8px 1px 0;
    font-size: 7px;
    line-height: .8;
}
.product-3 .product {
    width: 32.33333333% !important;
}
.product_title {
    float: left;
    width: 100%;
    font-size: 26px;
    margin: 0 0 0px 0;
    padding: 0px;
}
.single-product .product-rating {
    float: left;
    width: 100%;
    position: relative;
}
.single-product .product-rating {
    float: right;
    position: relative;
}
.product-rating p {
    margin-bottom: 0;
}
.single-product .product-price {
    float: left;
    font-size: 24px;
    color: #1ABC9C;
    margin-bottom: 0;
}
.single-product .product-price {
    width: 100%;
    margin: 10px 0 0 0;
}
.product-price {
    font-weight: 600;
}

.irs-slider {
    background: url('../images/sprite-skin-nice.png') repeat-x;
    background-position: 0 -120px !important;
}
.irs-from, .irs-to, .irs-single{background: #1ABC9C !important;}
.irs-from:after, .irs-single:after, .irs-to:after{border-top-color: #1ABC9C !important;}
.irs-bar{background-color: #1ABC9C !important;}
.sidebar-widgets-wrap .widget {
    padding-top: 40px !important;
}
.sidebar-widgets-wrap .widget:first-child {
    padding-top: 0 !important;
}
#page-title {
    padding: 30px 0 !important;}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #8ab34f;
}

.product-price ins {
    text-decoration: none;
    color: #1ABC9C;
}

button {
    background-color: #1ABC9C !important;
}
.product-overlay a{width: 100% !important; border: 0 !important;}
@media (max-width: 991px) {
    .mobileMyAccount{display: block !important;
        border-top: 0px !important;
        clear: both;}
    .socialDisplay{
        display: none !important;
    }
    button.add-to-cart.button.nomargin.addToCartB.addToCart {
        margin-bottom: 15px !important;
    }
    #top-search form input{color:#444 !important;}
    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul ul a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover ul a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current ul a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover ul a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current ul a {
        color: #444 !important;
    }
    #header.transparent-header,
    #header.semi-transparent {
        border-bottom: 1px solid #F5F5F5 !important;
    }
    #slider {
        clear: both;
    }
    #primary-menu-trigger {
        color: #000 !important;
    }
}
@media (max-width: 767px) {
    li.bottommobileMargin0.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
        margin-bottom: 0px !important;
    }
    .footer-widgets-wrap .widget h4{margin-bottom: 10px !important;}
    #footer .footer-widgets-wrap {
        padding: 20px 0 !important;
    }
    .bottommobileMargin0{
        margin-bottom: 0px !important;
    }
    .bottommobilePadding0{
        padding-bottom: 0px !important;
    }
    .mobDisplay{display:block !important;}
    .updateLogoBlack {
        position: absolute;
        right: 80px !important;
        top: 22% !important;
        z-index: 99;
    }
    .widget.clearfix.abt-secFooter h4 {
        margin-bottom: 10px !important;
    }
    .mobileLoginRegister{display: block !important; border-top: 0px !important;}
    .mobileCart {
        display: block !important;
        position: absolute;
        right: 0;
        top: 28px;
    }
    .product.clearfix.mobwidth100 {
        width: 100% !important;
    }

}
@media (max-width: 767px) and (min-width: 480px) {
    .shop:not(.product-1) .product {
        padding: 0 0px 0px 0;
        width: 48% !important;
        margin-right: 2%;
        margin-bottom: 2%;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .product.clearfix.mobwidth100 {
        width: 100% !important;
    }
    .sidebar-widgets-wrap .widget {
        width: 100% !important;
    }
}
@media (max-width: 479px) {
    .updateHomeBannerfs2 a {
        font-size: 10px !important;
        max-width: 80%;
        height: 35px !important;
        line-height: 35px !important;
    }
    .updateHomeBannerfs2{
        top: 62% !important;
    }
    #top-search {
        right: -5px !important;}
        .mobileCart {
            right: -10px !important;
        }
        .updateLogoBlack {
            right: 20px !important;}
    li.bottommobileMargin0.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
        margin-bottom: 0px !important;
    }
    .shop:not(.product-1) .product {
        width: 100% !important;
    }
}