storage/
vendor/
nbproject/
*.properties
*.xml
.env
public/temp/
tmp/
public/Uploads/
public/Admin/uploads/
stats/
server.bat
composer.lock
.htaccess
khaisilk/
odel/
cartini/
zara/
restaurants/
anitastore/
electronics/
