storage/
vendor/
nbproject/
*.properties
*.xml
.env
public/temp/
tmp/
public/Uploads/
public/Admin/uploads/
stats/
server.bat
composer.lock
.htaccess
jewellery/
fashion/
cartini/
zara/
restaurants/
anitastore/
electronics/
leena/
market/
fashionvista/
syska/
archies/
public/public/admin/themes
arts/
beauty/
books/
footwear/
gifts/
grocery/
homedecor/
kitchen/
others/
bata/
market/
fbb/
decor/
purple/
fashion-bazar/
reliance/
css/
luckystores/
xyzdist/
reliancestores/