APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:lUXlmQ1etFBkS1b3pL2jeOiSc2GY6oUMKqWGTViCGAA=

DB_HOST=localhost
DB_DATABASE=c8cart01
DB_USERNAME=root
DB_PASSWORD=
DB_TABLE_PREFIX=car_

CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=sync



MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=support@infiniteit.biz
MAIL_PASSWORD=asdf1234
MAIL_ENCRYPTION=tls

MANDRILL_SECRET=vdFj0shlhNQZnXSQdIsU-A


FACEBOOK_CLIENT_ID=377986305899287
FACEBOOK_CLIENT_SECRET=08072f63e31984c58b807c07ceb41038