<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<title>Kompanero - Your mates for life</title>
</head>
<body>
 <div style="width: 100%; display: table;">
         <div style="font-family:sans-serif;color: #333333;text-align:center;font-size: 13px;">
    <h4><span style="font-weight: normal;">We have received a request from you to reset your Kompanero account password. <br/><br/>
    <a href="{{ $newlink }}" target="_blank">Click here</a> to reset your password</span>
    <!-- <span>In case you want to track your order you can do so by logging in and going to My Account &#x2192; My Orders.</span> --><br>
    <br><span>Cheers,</span><br><span>Team Kompanero</span></h4>
  </div>
</div>
</body>