.no-margin-bottom {
    margin-bottom: 0px!important;
}

.margin-bottom-sm {
    margin-bottom: 20px;
}

#services {
    border-radius: 90px;
}

#services .icon {
    padding-top: 0px!important;
}

.paddingAll-med {
    padding: 50px;
}

.boogergreen {
    color: #88b740;
}

.duskblue-color {
    color: #3f566f;
}

.slategrey-color {
    color: #566575;
}

.features {
    position: relative;
    top: -35px;
    z-index: -9;
}

.duskblue-bg-section {
    background-color: #3f566f;
}

.txt-fafafa {
    color: #fafafa;
}

.duskblue-bg-section .content h3.title {
    color: #fff;
}

.duskblue-bg-section .content p {
    color: #fafafa;
}

.industry-typebox {
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 0px 40px 0px;
    background: #fff;
    text-align: center;
}

.industry-typebox .name span {
    color: #3f566f;
    font-size: 20px;
}

.industry-typebox .name {
    margin-top: 20px;
}

.green-bg-section {
    background-color: #ecf7dc;
}

.section-spacing {
    padding: 70px 50px;
    border-radius: 60px;
    width: 76%;
    position: relative;
}

.title-boogergreen {
    font-family: 'livvicsemibold';
    font-size: 35px;
    color: #88b740;
}

.lightblue-bg-section {
    background-color: #f8fcfd;
}

.bluesection {
    position: absolute;
    right: -31%;
    padding: 40px;
    border-radius: 23px;
    top: 50%;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
    width: 70%;
    transform: translateY(-50%);
}

.green-bg-section-img img {
    width: 60px;
}

.web-screen img {
    max-height: 200px;
}

.mobile-screen {
    position: absolute;
    right: 30px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
    max-width: 200px;
    padding: 20px;
    border-radius: 20px;
    top: 50%;
    transform: translateY(50%);
}

.ftrs-blocks .box .icon img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.ftrs-blocks .box .title {
    color: #566575;
    font-family: 'livvicmedium';
    display: block;
    font-size: 20px;
}

.amplify-img img {
    max-width: 600px;
}

.features {
    background-color: #e7f2fd;
}

.ftrs-blocks {
    padding: 50px 100px;
}

.ftrs-title {
    margin-top: 40px;
    color: #3f566f;
}


/*.yellow-shape
 {
    position: absolute;
    left: 0;
    bottom: -80px;
}
.yellow-shape img
{
    width: 340px;
}*/